/.settings/
/.vs/
/.vscode/
/build/
/examples/
/src/
/tools/
/typings/
.editorconfig
.eslintignore
.eslintrc.yml
.gitignore
.gitmodules
.gitattributes
.npmignore
.npmrc
.prettierignore
.prettierrc.yml
package-lock.json
tsconfig.json
